.content {
	background-color: #fff;
	width: 1080px;
	height: 580px;
	margin-bottom: 10px;
}

#steps {
	height: 50px;
	margin-top: 10px;
	padding-top: 40px;
}

ol {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}

.ui-step {
	color: #fc7a00;
	padding: 0 250px;
	margin-bottom: 35px;
	position: relative;
}

.ui-step:after {
	display: block;
	content: "";
	height: 0;
	font-size: 0;
	clear: both;
	overflow: hidden;
	visibility: hidden;
}

.ui-step li {
	float: left;
	position: relative;
}

.ui-step .step-end {
	width: 120px;
	position: absolute;
	top: 0;
	right: 120px;
}

.ui-step-line {
	height: 5px;
	background-color: #e0e0e0;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .2);
	margin-top: 15px;
}

.step-end .ui-step-line {
	display: none;
}

.ui-step-cont {
	width: 120px;
	position: absolute;
	top: 0;
	left: -15px;
	text-align: center;
}

.ui-step-cont-number {
	display: inline-block;
	*zoom: 1;
	position: absolute;
	left: 0;
	top: 0;
	width: 30px;
	height: 30px;
	line-height: 30px;
	color: #fff;
	background: url(ui-step_cover_30x30.png) center no-repeat\9;
	border-radius: 50%;
	border-left: 2px solid #fff;
	border-right: 2px solid #fff;
	border: 2px solid rgba(224, 224, 224, 1);
	font-family: tahoma;
	font-weight: bold;
	font-size: 16px;
	background-color: #fc7a00;
	box-shadow: inset 1px 1px 2px rgba(0, 0, 0, .2);
}

.ui-step-cont-text {
	position: relative;
	top: 34px;
	left: -42px;
	font-size: 12px;
}
/** 步骤数定义 **/
.ui-step-3 li {
	width: 33%;
}

/** Yellow **/
/* Done */
.ui-step-yellow .step-done .ui-step-cont-number {
	background-color: #ffc300;
}

.ui-step-yellow .step-done .ui-step-cont-text {
	color: #ffc300;
}

.ui-step-yellow .step-done .ui-step-line {
	background-color: #ffcc33;
}
/* Active */
.ui-step-yellow .step-active .ui-step-cont-number {
	background-color: #ffcc33;
}

.ui-step-yellow .step-active .ui-step-cont-text {
	color: #ffcc33;
}

.ui-step-yellow .step-active .ui-step-line {
	background-color: #ffcc33;
}

.tips {
	width: 560px;
	height: 50px;
	text-align: center;
	margin: 50px auto;
	line-height: 50px;
	/*border:solid 1px #eee;*/
}

.tips img {
	width: 24px;
	height: 24px;
	margin-right: 20px;
	margin-bottom: -5px;
	display: inline-block;
}

.button1{
	width: 200px;
	height: 50px;
	background-color: #fc7a00;
	line-height: 50px;
	text-align: center;
}

.button1 a {
	color: #fff;
}
#excel_file{
	display:none;
}
.span_msg{
	text-align:center;
}
.upload_btn{
	margin-top: 50px;
	text-align: center;
}
#excel_button{
	background-color: #fc9700;
	border: 1px solid #fc9700;
	color: #fff;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	width: 200px;
	height: 50px;
	line-height: 30px;
	text-align: center;
	border-radius: 3px;
	cursor: pointer;
}