html, body {
	width: 100%;
	background-color: #fcfcdd;
}

.main {
	width: 1080px;
	margin: 20px auto;
}

.clear {
	clear: both;
}
#nav ul{
	/* width:1080px; */
	margin:0px auto;
}
/*上部分*/
.top_set {
	width: 1080px;
	height: 35px;
	/*margin-bottom: 20px;*/
	background-color: #fff;
}

.top_nav {
	height: 35px;
	line-height: 35px;
	padding-left: 40px;
}

.top_nav a {
	font-size: 16px;
	color: #a6a6a6;
}

.top_nav span {
	font-size: 16px;
	color: #383838;
}
/*下部分*/
.bottom_set {
	height: 520px;
	margin-top: 20px;
	margin-bottom: 20px;
}
/*下左部分*/
.bottom_left {
	width: 260px;
	height: 520px;
	background-color: #fff;
	float: left;
}

.bottom_left_detail {
	width: 180px;
	height: 440px;
	margin: 40px;
	/*background-color: #bbb;*/
}
/*头像*/
.bottom_left .photo {
	width: 180px;
	height: 180px;
	border-radius: 3px;
	/* background-image: url(../images/photo.jpg); */
	background-size: 180px 180px;
}

#image {
	width: 180px;
	height: 180px;
}

.bottom_left .blanket {
	width: 180px;
	height: 150px;
}

.bottom_left .btn {
	width: 100px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 3px;
	background-color: #fc9700;
}

.bottom_left .btn a {
	color: #ffffff;
	font-size: 16px;
}

.bottom_left .btn:hover {
	background-color: #fff;
	border: 1px solid #fc9700;
}

.bottom_left .btn a:hover {
	color: #fc9700;
}
/*欢迎文字*/
.bottom_left .welcome {
	padding-top: 20px;
	padding-left: 40px;
	height: 30px;
}

.bottom_left .welcome p {
	color: #383838;
	font-size: 14px;
}
/*已报名的活动数*/
.bottom_left .activity_word {
	padding-top: 40px;
	height: 30px;
	line-height: 30px;
	text-align: center;
}

.bottom_left .activity_word span {
	color: #808080;
	font-size: 13px;
}

.bottom_left .activity_num {
	padding-top: 20px;
	height: 30px;
	line-height: 30px;
	text-align: center;
}

.bottom_left .activity_num span {
	color: #383838;
	font-size: 28px;
}
/*按钮*/
.sumbtn {
	margin-top: 40px;
	/* marign-left:100px;  */
	padding-left: 30px;
}

.sumbtn .btn {
	width: 100px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 3px;
	background-color: #fff;
	margin-top: 10px;
	border: 1px solid #fc9700;
	marign-left: 50px;
}

.sumbtn .btn a {
	color: #fc9700;
	font-size: 16px;
}

.sumbtn .btn:hover {
	background-color: #fc9700;
	border: 1px solid #fc9700;
}

.sumbtn .btn a:hover {
	color: #fff;
}

.sumbtn .selected {
	background-color: #fc9700;
	border: 1px solid #fc9700;
}

.sumbtn .selected a {
	color: #fff;
}
/*下右部分*/
.bottom_right {
	width: 800px;
	height: 520px;
	background-color: #fff;
	float: right;
}
/*导航*/
.bottom_right .nav {
	width: 95px;
	height: 40px;
	line-height: 40px;
	/*background-color: #fc9700;*/
	text-align: center;
	float: left;
	border-bottom: 3px solid #fc9700;
}

.bottom_right .nav span {
	color: #fc9700;
	font-size: 15px;
}
/*表格*/
table {
	margin: 0 auto;
}

input::-webkit-input-placeholder {
	font-size: 14px;
	color: #383838;
}

.bottom_right_detail {
	padding-left: 40px;
	padding-top: 0px;
	margin-top: 40px;
	text-align: center;
}

.bottom_right .tr {
	height: 50px;
}

.bottom_right .td1 {
	width: 45px;
	height: 40px;
	color: #383838;
	font-size: 16px;
}

.bottom_right .td2 {
	width: 200px;
	height: 40px;
}

.bottom_right .td2 input {
	width: 200px;
	height: 25px;
	border: 1px solid #999;
	border-radius: 3px;
}

.bottom_right .td2 select {
	font-size: 14px;
	color: #383838;
	width: 204px;
	height: 29px;
	border-radius: 3px;
	border: 1px solid #999;
}

.content_submit {
	margin-top: 15px;
	text-align: center;
}

.content_submit .button {
	background-color: #fc9700;
	border: 1px solid #fc9700;
	color: #fff;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	width: 100px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 3px;
	cursor: pointer;
}

.button:hover {
	background-color: #fff;
	color: #fc7a00;
	border: 1px solid #fc9700;
=======
html, body {
	width: 100%;
	background-color: #fcfcdd;
}

.main {
	width: 1080px;
	margin: 20px auto;
}

.clear {
	clear: both;
}
/*上部分*/
.top_set {
	width: 1080px;
	height: 38px;
	/*margin-bottom: 20px;*/
	background-color: #fff;
}

.top_nav {
	height: 38px;
	line-height: 38px;
	padding-left: 40px;
}

.toplink {
	font-size: 15px;
	color: #ccc;
	text-decoration: none;
}

.currentpage {
	font-size: 15px;
	color: #666;
	text-decoration: none;
}

/*下部分*/
.bottom_set {
	height: 520px;
	margin-top: 10px;
	margin-bottom: 10px;
}
/*下左部分*/
.bottom_left {
	width: 260px;
	height: 520px;
	background-color: #fff;
	float: left;
}

.bottom_left_detail {
	width: 180px;
	height: 440px;
	margin: 40px;
	/*background-color: #bbb;*/
}
/*头像*/
.bottom_left .photo {
	width: 180px;
	height: 180px;
	border-radius: 3px;
	background-image: url(../images/photo.jpg);
	background-size: 180px 180px;
}

.bottom_left .blanket {
	width: 180px;
	height: 150px;
}

.bottom_left .btn {
	width: 100px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 3px;
	background-color: #fc9700;
}

.bottom_left .btn a {
	color: #ffffff;
	font-size: 16px;
}

.bottom_left .btn:hover {
	background-color: #fff;
	border: 1px solid #fc9700;
}

.bottom_left .btn a:hover {
	color: #fc9700;
}
/*欢迎文字*/
.welcome {
	width: 100px; text-align : center; margin : 0px auto;
	margin-top: 15px;
	font-color: #333;
	text-align: center;
	margin: 0px auto;
	text-align: center;
}

.welcome1 {
	font-size: 20px;
	line-height: 42px;
}

.welcome2 {
	font-size: 18px;
	line-height: 32px;
}

.bottom_left .welcome p {
	color: #383838;
	font-size: 14px;
}
/*已报名的活动数*/
.bottom_left .activity_word {
	padding-top: 10px;
	height: 30px;
	line-height: 30px;
	text-align: center;
}

.bottom_left .activity_word span {
	color: #808080;
	font-size: 14px;
}

.bottom_left .activity_num {
	padding-top: 10px;
	height: 30px;
	line-height: 30px;
	text-align: center;
}

.bottom_left .activity_num span {
	color: #383838;
	font-size: 28px;
}
/*按钮*/
.sumbtn {
	margin-top: 20px;
}

.sumbtn .btn {
	width: 100px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 3px;
	background-color: #fff;
	margin-top: 10px;
	border: 1px solid #fc9700;
}

.sumbtn .btn a {
	color: #fc9700;
	font-size: 16px;
}

.sumbtn .btn:hover {
	background-color: #fc9700;
	border: 1px solid #fc9700;
}

.sumbtn .btn a:hover {
	color: #fff;
}

.sumbtn .selected {
	background-color: #fc9700;
	border: 1px solid #fc9700;
}

.sumbtn .selected a {
	color: #fff;
}
/*下右部分*/
.bottom_right {
	width: 800px;
	height: 520px;
	background-color: #fff;
	float: right;
}
/*导航*/
.bottom_right .nav {
	width: 95px;
	height: 40px;
	line-height: 40px;
	/*background-color: #fc9700;*/
	text-align: center;
	float: left;
	border-bottom: 3px solid #fc9700;
}

.bottom_right .nav span {
	color: #fc9700;
	font-size: 15px;
}
/*表格*/
input::-webkit-input-placeholder {
	font-size: 14px;
	color: #383838;
}

.bottom_right_detail {
	padding-left: 40px;
	padding-top: 0px;
	margin-top: 40px;
}

.bottom_right .tr {
	height: 50px;
}

.bottom_right .td1 {
	width: 45px;
	height: 40px;
	color: #383838;
	font-size: 16px;
}

.bottom_right .td2 {
	width: 200px;
	height: 40px;
}

.bottom_right .td2 input {
	width: 200px;
	height: 25px;
	border: 1px solid #999;
	border-radius: 3px;
}

.bottom_right .td2 select {
	font-size: 14px;
	color: #383838;
	width: 204px;
	height: 29px;
	border-radius: 3px;
	border: 1px solid #999;
}

.content_submit {
	margin-top: 15px;
	text-align: center;
}

.content_submit .button {
	background-color: #fc9700;
	border: 1px solid #fc9700;
	color: #fff;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	width: 100px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 3px;
	cursor: pointer;
}

.button:hover {
	background-color: #fff;
	color: #fc7a00;
	border: 1px solid #fc9700;
}