* {
	margin: 0px auto;
	font-size: 16px;
	font-family: "微软雅黑";
	color：
	#333;
}

body {
	width: 1080px;
	background-color: #fcfcdd;
}

.top {
	height: 100px;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 20px;
}

.logo {
	width: auto;
	height: 100px;
}

.formsty {
	width: 480px;
	height: 360px;
	background-color: #fff;
	padding: 20px;
	border: 1px solid #ff7a00;
}

.mailid {
	color: #ccc;
}

.prompt {
	margin: 20px 40px 20px;
}

.pwd {
	width: 400px;
	height: 32px;
	margin: 0px 40px 5px;
	border: 1px solid #999;
}

.message {
	color: #dd0000;
	display: none;
}

.sub {
	width: 280px;
	height: 45px;
	background-color: #fc7a00;
	border-radius: 5px;
	margin-left: 100px;
	margin-top: 50px;
}